.workContainer {
    display: flex;
    flex-direction: row;
}

.sectionTitle {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 0.5rem;
    color: white;
    margin: 1rem;
    font-size: 2rem;
    z-index: 2; 
    position: relative;
}

.contentContainer {
    background-color: #10363c;
    width: 100%;
}


.animateRight {
    animation: slideInFromRight 0.9s ease-out;
}

.offscreenRight {
  transform: translateX(100%);
}

@media (max-width: 768px) {
    .sectionTitle {
        font-size: 1.5rem;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
