.workContainer {
    display: flex;
    flex-direction: row;
}

.sectionTitle {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 0.5rem;
    color: white;
    margin: 1rem;
    font-size: 2rem;
    z-index: 2; 
    position: relative;
}

.contentContainer {
    background-color: #10363c;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.swiperContainer {
    width: 90%;
    height: 60%;
}

.swiperContainer :global(.swiper-slide) {
    display: flex;
    align-items: center;
}

.itemContainer {
    background-color: #06171d;
    width: 100%;
    height: fit-content;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.company {
    color: white;
    display: flex;
    align-items: flex-start;
    line-height: 1.5rem;
    margin: 0;
}

.position {
    color: white;
    margin: 20px 0 10px 0;
}

.year {
    color: white;
    margin: 0;
}

.taskTitle {
    color: white;
    margin: 20px 0 15px 0;
}

.tableItem {
    color: white;
    line-height: 1.1rem;
}

.tableContainer {
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.animateRight {
    animation: slideInFromRight 0.9s ease-out;
}

.offscreenRight {
  transform: translateX(100%);
}

@media (max-width: 768px) {
    .sectionTitle {
        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .swiperContainer {
        width: 60%;
        height: 70%;
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .swiperContainer {
        height: 80%;
    }
    
    .sectionTitle {
        font-size: 1.5rem; 
    }

    .company,
    .position,
    .year,
    .taskTitle {
        font-size: 1rem;
    }

    .tableItem {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}