.titleText {
  font-family: var(--font-aquire);
  font-weight: 700;
  letter-spacing: 1;
}

.navText {
  font-family: var(--font-aquire);
  font-weight: 400;
  letter-spacing: 2;
}

.primaryText {
  font-family: var(--font-aquire);
  font-weight: 400;
  letter-spacing: 1;
}

body {
    margin: 0
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }