.container {
    transition: transform 800ms ease;
    will-change: transform;
    
    display: flex;
    flex-direction: column;
}

.mobileContainer {
    transform: none;
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

.contentContainer > div {
    height: 100vh;
    position: relative;
    background-color: #000;
}