.addCvContainer {
    padding: 0 1rem 2rem;
    margin-top: 5rem;
}

.title {
    font-size: 2rem;
    color: white;
}

.addCvNav {
    display: flex;
}

.addCvNavTab {
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
}

.addCvNavTabText {
    color: white;
    font-size: 1rem;
}

.addCvContentContainer {


}

.addCvButtonContainer {

}